
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");




/**GLOBAL PARAMETERS**/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}


html{
    overflow-x: hidden;
}

:root{
    --lightershade: #FCF8EF;
    --lighterbrown: #F1E9D6;
    --lightbrown: #F4D2B9;
    --darkbrown: #D8B192;
    --darkershade: #323232;
    --greyshade: #767676;
}


/***HOME SECTION***/

.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.home-grid-wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}


.home-grid-section-1{
    background-color: var(--lightershade);
}


.home-grid-section-1-image{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.z-index-300{
    z-index: 300;
}


.z-index-300 img{
    animation: bounce 3s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes bounce{
    0%{transform: translateY(0px);}
    60%{transform: translateY(-28px);}
}


.z-index-300 p{
    text-align: center;
    margin-right: 20px;
}


.glitter-image{
    position: absolute;
}

.glitter-image img{
    animation: spin 100s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}




.home-grid-footer{
    width: 100%;
    height: 20%;
    background-color: var(--darkbrown);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-grid-footer h1, .home-grid-footer p{
    color: white;
    text-align: center;
    margin: 5px;
}

.home-section-ring{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.home-section-ring img{
    animation: spin 100s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0%{transform: rotate(0);}
    100%{transform: rotate(390deg);}
}




.home-grid-section-2{
    background-image: url(images/background-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.navbar{
  width: 100%;
  background: linear-gradient(rgba(164, 162, 162, 0.4));
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px
}


.client-name{
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
}

.navbar-fixed-position{
    position: fixed;
    background-color: var(--darkbrown);
}
.dropdown-menu{
    width:100%;
    height: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .50s;
    z-index: 900;
    position: fixed;
    top: 0;
    display: none;
}

.toggleDropdown{
    height: 100%;
    overflow-y: hidden;
}

.dropdown-menu button{
    background-color: var(--lightbrown);
    color: black;

}


.dropdown-menu ul li{
    list-style: none;
    margin: 20px;
}

.dropdown-menu ul li a{
    text-decoration: none;
    margin: 15px;
    color: black;
    transition: all .50s;
}


.dropdown-menu ul li a:hover{
    color: var(--darkbrown);
}

.scroll-background {
    background-color: #fff; /* Replace with your desired background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box-shadow */
    transition: background-color 0.3s ease; /* Optional: Add transition effect */
}


.menu-bar{
    cursor: pointer;
    display: none;
}

.bar{
    width: 30px;
    height: 4px;
    margin: 6px 0px;
    background-color: var(--darkershade);
    border-radius: 30px;
    transition: all .50s;
}


.change .bar1{
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -10px) rotate(45deg);
}

.dropdown-links{
    display: none;
}

.dropdown-links-active{
    display: inline-block;
}

.right-nav ul li{
    list-style: none;
    display: inline-block;
}

.right-nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
    transition: all .50s;
}


.right-nav ul li a:hover{
    color: black;
}

.book-btn{
    width: 125px;
    height: 45px;
    border-radius: 50px;
    background-color: transparent;
    border: solid white 1px;
    color: white;
    cursor: pointer;
    transition: all .50s;
}

.book-btn:hover{
    background-color: rgb(198, 145, 76);
}



.home-wrap-center-image{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.home-wrap-center-image img{
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}



.book-section{
    width: 100vw;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
    background-color: var(--lightershade);
}


.book-section-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.book-icon-wrap{
    display: flex;
}

.book-icon-wrap p, .book-icon-wrap img{
    display: flex;
    margin: 5px;
    color: var(--darkbrown);
}

.book-context>div{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.book-section-wrap .input-el{
    border: none;
    border-bottom:  solid black 1px;
    padding: 10px;
}


.book-el-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-el-btn button{
    background-color: var(--darkbrown);
    color: white;
}


.nail-care{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--lightershade);
}


.nail-care-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.care-context>div{
    margin: 20px;
    text-align: center;
    color: var(--greyshade);
}

.care img{
    width: 100px;
    height: 100px;
}




/***story***/

.story{
    background-color: var(--lightershade);
    width: 100vw;
    padding: 100px;
}

.about-us-grid{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.about-grid-image{
    background-image: url(images/about-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.story-context{
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-context-wrap>div{
    margin: 25px;
}

.story-context-wrap span{
    font-weight: 700;
}

.story-context-wrap p{
    color: var(--greyshade);
}

.story-title h1{
    color: var(--darkbrown);
}

.explore-btn{
    width: 150px;
    height: 45px;
    background-color: var(--darkbrown);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    transition: all .50s;
}

.explore-btn:hover{
    background-color: rgb(198, 145, 76);
}


/*PRODUCTS*/
.products{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--darkbrown);
}

.polish-img h3, .polish-img p{
    text-align: center;
    color: white;
}

.polish-img>div{
    margin: 6px;
}

.flex-product-items{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}


.products-title{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}


/***PRICES AND TREATMENT***/
.prices{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--lightershade);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .price-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
  }



  
  .price-grid1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .price-grid2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-grid2 img{
    width: 100%;
    height: 100%;
  }



  .price-header{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--darkbrown);
    padding: 30px;
  }
  
  .service-amt{
  
    font-weight: 500;
  }

  .service span {
    color: var(--greyshade);
  }
  
  .service{
    margin: 40px;
  }
  
  
  .price-dots{
    position: absolute;
  }


  .justify-center-button{
    padding-left: 30px;
  }








  /***ANGRY GRID***/
  .angry-grid {
    display: grid; 
 
    grid-template-rows: 400px 200px;
    grid-template-columns: 300px 1fr 1fr;
    
    gap: 25px;
    height: 100%;

 }
   
 #item-0 {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/grid1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    position: relative;
    
 }
 #item-1 {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/grid2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    background-color: #DEB5FB; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    position: relative;

    
 }
 #item-2 {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/grid3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    background-color: #7CBAD6; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    position: relative;

    
 }
 #item-3 {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/grid4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    background-color: #A5DE57; 
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    position: relative;

    
 }
 #item-4 {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(images/grid5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    background-color: #DC5CF8; 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    position: relative;

} 


.advertise{
    width: 100vw;
    padding: 5% 10% 5% 10%;
    background-color: var(--lightershade);
}

.advertise-header{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: var(--darkbrown);
}




#item-0 .grid-content{
    position: absolute;
    bottom: 10%;
    left: 40%;
  }
  
  #item-0 .grid-content>div{
    margin: 20px;
    color: white;
  }


  .advertise .center-item{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  /***news and refined trends***/

  section{
    background-color: var(--lightershade);
  }


  .news-header{
    color: var(--dark-brown);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .news-grid-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 400px;
  }
  
  
  .news-grid1-image img{
    width: 100%;
    height: 100%;
  }
  
  .flex-link{
    display: flex;
    cursor: pointer;
    transition: all .50s;
  }

  .flex-link a{
    color: black;
    text-decoration: none;
    transition: all .50s;
  }
  
  .flex-link a:hover{
    color: var(--darkbrown);
  }
  
  .flex-link a, .flex-link img{
    margin: 10px;
  }
  
  
  .grid-context>div{
    margin: 20px;
  }
  
  .grid-context div:first-child{
    color: #767676;
  }

  .grid-context p{
    line-height: 3;
  }

  .z-index-300 h1{
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    margin-bottom: 10px;
  }

  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }






 /* Base styles for the follow-us section */
.follow-us {
    position: relative;
    text-align: center; /* Center align content */
  }
  
  /* Styling for the follow-grid */
  .follow-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid with minimum width */
    gap: 10px; /* Adjust the gap between grid items */
    padding: 0 10px; /* Adjust padding */
  }
  
  .follow-grid img {
    max-width: 100%; /* Ensure images resize fluidly within their containers */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Styling for the follow-card */
  .follow-card {
    position: relative;
    max-width: 100%; /* Ensure the card adjusts to its container */
    height: auto; /* Allow height to adjust based on content */
    background-color: var(--lightershade);
    text-align: center; /* Center align content */
    padding: 20px; /* Adjust padding */
  }
  
  .instagram-icon {
    margin-bottom: 10px; /* Add space below the Instagram icon */
  }
  
  .follow-card-wrap h1 {
    color: var(--dark-brown);
    margin-top: 0; /* Remove default margin */
    font-size: 1.5rem; /* Adjust font size */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .follow-grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust grid for smaller screens */
      gap: 5px; /* Adjust gap for smaller screens */
      padding: 0 5px; /* Adjust padding for smaller screens */
    }
  
    .follow-card {
      width: 100%; /* Ensure card takes full width */
      max-width: 100%; /* Ensure card adjusts to smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
  }



  /***SUBSCRIBE CONTACT US**/

  .contact-wrapper{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .contact-header{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  

  .contact-header h1{
    color: var(--darkbrown);
  }

  .contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  
  .contact-img img{
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  
  .contact-context{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .contact-context-wrap>div{
    margin: 20px;
  }
  
  .email-input{
    display: flex;
  }
  
  .subscribe-form>div{
    margin: 10px;
  }
  
  .subscribe-form input{
    width: 100%;
    height: 35px;
    border: none;
    padding: 15px;
    background-color: transparent;
  }
  
  .subscribe-form input:focus{
    outline: none;
  }
  
  .email-input button{
    border: none;
    background-color: transparent;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .email-input{
    border-bottom: solid 1px;
  }
  
  .phone-number h3{
    display: flex;
    justify-content: center;
  }


  .subscribe-btn{
    color: var(--darkbrown);
  }



  /***FOOTER***/

  .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}


.footer{
	background-color: var(--darkbrown);
  padding: 40px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--buttonhover);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
	height: 40px;
	width: 40px;
	background-color: var(--lightershade);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: var(--greyshade);
    color: white;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.polish-img img{
    margin-right: 35px;
}

.polish-img>div:first-child{
    display: flex;
    justify-content: center;
}

.copyright{
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}